<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plaster&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>我的 Vite + Bootstrap 專案</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%- include('./layout/header'); -%>

    <main class="flex-grow-1">
      <div class="container py-5">
        <h1 class="text-subtext">Hello !! ISLA 專案</h1>
        <a
          class="btn btn-secondary text-white"
          href="./cart-list.html"
        >
          前往購物車
        </a>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
